<div class="footer-container">
    <footer class="wrapper">
        <h3>Radiodiodi</h3>
        <p>Pääkaupunkiseudun pöhisevin wappumedia</p>
        <p>Yhteistyössä</p>
        <div class="partner-logo-container">
            <a href="https://www.abb.com/"><img class="partner-logo" id="abb-logo" src="/static/images/abb_logo.png" alt="ABB logo"></a>
        </div>
        <div class="partner-logo-container">
            <a href="https://www.vincit.fi/"><img class="partner-logo" id="vincit-logo" src="/static/images/vincit_logo.png" alt="Vincit logo"></a>
        </div>
        <div class="partner-logo-container">
            <a href="https://www.srv.fi/"><img class="partner-logo" id="srv-logo" src="/static/images/srv_logo.png" alt="SRV logo"></a>
        </div>
        <div class="partner-logo-container">
            <a href="https://gofore.com/"><img class="partner-logo" id="gofore-logo" src="/static/images/gofore_logo.png" alt="Gofore logo"></a>
        </div>
        <div class="partner-logo-container">
            <a href="http://www.genelec.fi/"><img class="partner-logo" src="/static/images/Genelec_logo-w-slogan_RGB_white.png" alt="Genelec logo"></a>
        </div>
        <div class="partner-logo-container">
            <a href="https://www.apy.fi/"><img class="partner-logo" id="apy-logo" src="/static/images/apy_logo.png" alt="Äpy logo"></a>
        </div>
        <div class="partner-logo-container">
            <a href="http://tter.ayy.fi/"><img class="partner-logo" id="tter-logo" src="/static/images/TTER_logo_RGB_transparent.png" alt="TTER logo"></a>
        </div>
        <div class="partner-logo-container">
            <a href="https://www.tek.fi"><img class="partner-logo" id="tek-logo" src="/static/images/tek-logo.png" alt="TEK logo"></a>
        </div>
        <p class="dude-contact">hallitus@radiodiodi.fi</p>
        <p>&copy; 2017</p>
    </footer>
</div>

<script src="/static/main.js"></script>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-83690211-1', 'auto');
ga('send', 'pageview');
</script>
