<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Mediakortti</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="static/autogrid.css">
    <link rel="stylesheet" href="static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet">
</head>
<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="header-container">
        <header class="wrapper clearfix">
        </header>
    </div>
    <nav class="navigation-main">
        <ul>
            <li><a href="/">Etusivulle</a></li>
            <li><a class="scroll-link" href="#media">Mediatietoa</a></li>
            <li><a class="scroll-link" href="#support">Paketit</a></li>
            <li><a class="scroll-link" href="#ads">Mainokset</a></li>
            <li><a class="scroll-link" href="#team">Yhteystiedot</a></li>
        </ul>
    </nav>
    <div class="main-container">
        <div class="auto-content section-main section-overview">
            <div class="auto-col-6">
                <figure>
                    <img src="static/images/kuuluvuuskartta-631x512.png" alt="" class="map" width="100%">
                    <figcaption>FM-lähetyksen kuuluvuusalue</figcaption>
                </figure>
            </div>
            <div class="auto-col-6">
                <p>Radiodiodi on Otaniemestä ponnistava joka vuosi täysin opiskelijavetoisesti toteutettu kaupallinen wappuradio. Radio toteutetaan vuonna 2017 jo kuudetta kertaa ja lähetys on käynnissä 18.-30. huhtikuuta.</p>
                <p>Radiodiodi tuotetaan alusta loppuun opiskelijavoimin ja sen tekemiseen osallistuu joka vuosi kymmeniä vapaaehtoisia taustatyön muodossa ja ympärivuorokautista sisältöä taajuuksille on lähetyskauden aikana studiossa tuottamassa arviolta 200 opiskelijaa.</p>    
                <p>Radiodiodi on kaupallinen radiokanava, vaikkakin voittoa tavoittelematon. Yhteistyö yritysten kanssa on siis ensiarvoisen tärkeää toimintamme kannalta. Ilman sponsoreitamme Wapun ajan PK-seudun hauskin radiolähetys olisi mahdotonta toteuttaa.</p>
            </div>
        </div>
        <div class="auto-content section-main section-overview">
            <div class="auto-col-12">
                <p>Meitä voi tukea monella tapaa: rahallisesti, materiaalihankinnoin tai oikeastaan millä tahansa tavalla, joka edistää radiotoimintaa!</p>
            </div>
        </div>
        <section class="lightblue">
            <div id="media" class="auto-content section-main section-companies">
                <h2 class="section-title">Mediatietoa</h2>
                <div class="auto-col-12">
                    <ul>
                        <li> Keskeinen osa etenkin tekniikan alan opiskelijoiden Wappua!
                        </li><li> Kuuntelijakunta keskittyy Otaniemeen, mutta taajuudelle todistetusti virittäytyy muidenkin pääkaupunkiseudun oppilaitosten opiskelijoita sekä jo valmistuneita, pääasiassa diplomi-insinöörejä.
                        </li><li> Soi taukotiloissa ja ruokaloissa ympäri Otaniemeä.
                        </li><li> Nettistreamin kuuntelijamäärät ovat aikaisempina vuosina nousseet parhaimmillaan kolmeen sataan yhtäaikaiseen kuuntelijaan, FM-kuuntelijoista ei ole dataa.
                        </li><li> Radiodiodi on kovassa nosteessa: Vuoden 2016 aikana pelkästään Facebook-tykkäystemme määrä nousi yli 40%
                        </li><li>Vuonna 2017 lähetystä markkinoidaa entistä laajemmin myös Otaniemen ulkopuolella.
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="lightblue">
            <div id="ads" class="auto-content section-main section-companies">
                <h2 class="section-title">Mainokset</h2>
                <p>Mainokset toimitamme ns. avaimet käteen -palveluna, jolloin valitsemanne teeman pohjalta suunnittelemme ja äänitämme yhden tai useamman mainosvariaation, joista voitte valita lähetykseen päätyvät. Mainokset ovat kestoltaan 15-30 sekunnin mittaisia ja varmasti positiivisia, sillä onhan Radiodiodin pääasiallinen tarkoitus nostattaa leppoisaa wappumieltä.  
                <p>Koska hyvä mainos kertoo enemmän kuin tuhat sanaa, laitoimme alle kuuneltavaki muutamia aikaisemmin radiossa soineita mainoksia:</p>
                <div class="auto-row">
                    <div class="auto-col-6">
                        <h4>SRV</h4>
                        <audio controls> 
                            <source src="static/audio/srv.mp3" type="audio/mpeg">
                            Valitettavasti selaimesi ei tue tätä audioelementtiä
                        </audio>
                        <h4>ABB</h4>
                        <audio controls> 
                            <source src="static/audio/abb.wav" type="audio/mpeg">
                            Valitettavasti selaimesi ei tue tätä audioelementtiä
                        </audio>
                    </div>
                    <div class="auto-col-6">
                        <h4>Olvi</h4>
                        <audio controls> 
                            <source src="static/audio/olvi.mp3" type="audio/mpeg">
                            Valitettavasti selaimesi ei tue tätä audioelementtiä
                        </audio>
                        <h4>TEK</h4>
                        <audio controls> 
                            <source src="static/audio/tek.mp3" type="audio/mpeg">
                            Valitettavasti selaimesi ei tue tätä audioelementtiä
                        </audio>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<!-- <section class="lightblue"> -->     
<div id="team" class="auto-content section-main section-team">
    <h2 class="section-title">Yhteystiedot</h2>
    <p>Alta löydät yrityssuhteista vastaavien henkilöiden tiedot. Koko tiimin tavoittaa mailitse osoitteella <a class="black" href="mailto:yrityssuhteet@radiodiodi.fi">yrityssuhteet@radiodiodi.fi</a></p>
    <div class="dude auto-col-4">
        <div class="image-border">
            <img src="static/images/Panu.jpg" alt="" class="dude-image" width=150px>
        </div>
        <span class="dude-description">Puheenjohtaja</span>
        <h5 class="dude-name">Panu Oksiala</h5>
        <span class="dude-contact">panu@radiodiodi.fi</span>
    </div>
    <div class="dude auto-col-4">
        <div class="image-border">
            <img src="static/images/Onni.jpg" alt="" class="dude-image" width=150px>
        </div>
        <span class="dude-description">Päätoimittaja</span>
        <h5 class="dude-name">Onni Lampi</h5>
        <span class="dude-contact">onni@radiodiodi.fi</span>
    </div>
    <div class="dude auto-col-4">
        <div class="image-border">
            <img src="static/images/A-J.jpg" alt="" class="dude-image" width=150px>
        </div>
        <span class="dude-description">Studiopäällikkö</span>
        <h5 class="dude-name">Antti-Juho Nieminen</h5>
        <span class="dude-contact">a-j@radiodiodi.fi</span>
    </div>

</div>
</div>
</section>

<%- include footer.ejs %>

</body>
</html>
