<div class="header-container">
    <header class="wrapper clearfix">
    </header>
</div>


<nav class="navigation-main">
    <ul>
        <li><a class="scroll-link" href="#corporate">Yrityksille</a></li>
        <li><a class="scroll-link" href="#recruit">Tekijäksi?</a></li>
        <li><a href="/mediakortti">Mediakortti</a></li>
    </ul>
</nav>
