<!-- shoutbox code -->
<link href="https://fonts.googleapis.com/css?family=Droid+Sans+Mono" rel="stylesheet">
<link href="/static/shoutbox.css" rel="stylesheet">
<div class="container">
    <h3>Huutislaatikko</h3>
    <div id="box">
    </div>
    <span id="input-box">
        <input placeholder="Name" id="name" type="text" />
        <input placeholder="Message" id="text" type="text" />
        <button id="send">Send</button>
    </span>
    <script src="https://radiodiodi.fi:5000/shoutbox.js">
