<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Mainostajalle</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="static/autogrid.css">
    <link rel="stylesheet" href="static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet">
</head>
<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="header-container">
        <header class="wrapper clearfix">
        </header>
    </div>
    <nav class="navigation-main">
        <ul>
            <li><a href="/">Etusivulle</a></li>
        </ul>
    </nav>
    <div class="main-container">
        <div class="auto-content section-main section-overview">

        <!-- shoutbox code -->
          <style>
            .container {
              text-align: center;
              max-width: 500px;
              margin: 0 auto;
            }
            #box {
              text-align: left;
              background-color: #fdfdfd;
              border: 1px solid #ddd;
              border-radius: 5px;
              height: 300px;
              padding: 25px;
              overflow-y: scroll;
              box-sizing: border-box;
            }
          </style>
          <body>
            <div class="container">
              <h3>Huutislaatikko</h3>
              <pre id="box"></pre>
              <input placeholder="Name" id="name" type="text" />
              <input placeholder="Message" id="text" type="text" />
              <button id="send">Send</button>
            </div>
            <script>
              var prefix = 'https://';
              var api_url = prefix + window.location.host + ':5000/api/messages';
              var url = 'wss://' + window.location.host + ':5000/ws',
                  sock,
                  box = document.getElementById('box'),
                  text = document.getElementById('text'),
                  uname = document.getElementById('name'),
                  MIN_INTERVAL = 1000,
                  last_post = 0;

              try {
                sock = new WebSocket(url);
              } catch (e) {
                box.innerHTML = 'Your browser doesn\'t support WebSockets. Try upgrading to a more recent browser';
              }

              var xhr = new XMLHttpRequest();
              xhr.open('GET', api_url);
              xhr.onload = function() {
                  if (xhr.status === 200) {
                    var content = JSON.parse(xhr.responseText);
                    box.innerHTML += content.map(function(msg) {
                        return formatTime(msg.timestamp) + ' ' + msg.user + ' ' + msg.text + '\n';
                      }).reduce(function (a, b) { return a + '\n' + b; }, '');
                  } else {
                    box.innerHTML = 'Failed to load messages from server';
                  }
              };
              xhr.send();

              function formatTime (time) {
                return new Date(time).toString().split(' ')[4];
              };

              sock.onmessage = function (msg) {
                var data = JSON.parse(msg.data);
                var line =  formatTime(data.timestamp) + ' ' + data.user + ' ' + data.text;
                box.innerText += '\n' + line + '\n';
                box.scrollTop = box.scrollHeight;
              };

              function send (e) {
                var interval = Date.now() - last_post;
                if ((e.keyCode === 13 || e.type !== 'keydown') && text.value !== '' && interval > MIN_INTERVAL) {
                  if (sock.readyState === sock.OPEN) {
                    uname.value = uname.value || 'Vieras' + Math.floor(Math.random() * 1000);
                    sock.send(JSON.stringify({
                      user:      uname.value,
                      text:      text.value,
                      timestamp: (new Date).toISOString()
                    }));
                  } else {
                    console.log('WebSocket not open');
                  }
                  text.value = '';
                  last_post = Date.now();
                }
              }
              uname.onkeydown = send;
              text.onkeydown = send;
              document.getElementById('send').onclick = send;
              box.scrollTop = box.scrollHeight;
            </script>
        </div>
    </div>

    <%- include footer.ejs %>

</body>
</html>
