<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Tilastot</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="static/autogrid.css">
    <link rel="stylesheet" href="static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>
<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="header-container">
        <header class="wrapper clearfix">
        </header>
    </div>
    <nav class="navigation-main">
        <ul>
            <li><a href="/">Etusivulle</a></li>
        </ul>
    </nav>
    <div class="main-container">
        <div style="text-align: center" class="auto-content section-main section-overview">
            <h2>Kuuntelijatilastot</h2>
            <h3>Kuuntelijoita verkossa nyt: <strong><%= current %></strong></h3>
            <p>Alla oleva kuvaaja näyttää kuulijamäärät radiokauden ajalta.</p>
            <div id="graph-div"></div>

        </div>
    </div>

    <%- include footer.ejs %>

    <script>
        var data = JSON.parse( '<%- data %>' );
        Plotly.newPlot('graph-div', data);
    </script>
        
</body>
</html>
