/* RGB 
$color1: rgb(51, 102, 153);
$color2: rgb(146, 220, 229);
$color3: rgb(238, 229, 233);
$color4: rgb(124, 124, 124);
$color5: rgb(214, 73, 51);
*/

/*
--dark-blue: rgba(51, 102, 153, 1);
--light-blue: rgba(146, 220, 229, 1);
--platinum: rgba(238, 229, 233, 1);
--white: rgba(250, 250, 250, 1);
--gray: rgba(124, 124, 124, 1);
--opaque-gray: rgba(124, 124, 124, 0.2);
--red: rgba(214, 73, 51, 1);
*/

body {
    margin: 0;
    color: #3d3d3d;
    background-color:rgba(250, 250, 250, 1);
    font-family: "Asap", Geneva, Tahoma, sans-serif;
}

header {
    background-image: url("images/banner_transparent.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 30vw;
}

a {
    color: rgba(250, 250, 250, 1);
}

.navigation-main ul {
    padding: 0;
}

nav li {
    display: inline;
}

figure {
    margin: 5px;
}

figcaption {
    text-align: center;
    font-style: italic;
}

.section-main {
    margin: 0 auto;
    padding: 20px;
    overflow: hidden;
}

.section-team {
  text-align: center;
}

.image-border {
    margin: 0 auto;
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.map-border {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.map {
    max-width: 100%;
}

.dude {
  margin: 20px 0;
}

footer {
  padding: 30px;
  text-align: center;
  color: #eee5e9;
  background-color: #7c7c7c;
}

.partner-logo {
    width: 80%;
    max-width: 300px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#tter-logo {
    max-height: 200px;
    width: auto;
}

#abb-logo {
    max-height: 80px;
    width: auto;
}

#apy-logo {
    max-height: 80px;
    width: auto;
}

#srv-logo {
    margin-top: 0px;
    max-height: 70px;
    width: auto;
}

h5 {
  margin: 10px 0;
}

section.lightblue {
    color: rgba(250, 250, 250, 1);
    background-color: rgba(51, 102, 153, 1);
}

a.black {
    color: #3d3d3d;
}

.navigation-main {
  text-align: center;
  padding: 25px 0;
  background-color: rgba(51, 102, 153, 1);
  color: rgba(250, 250, 250, 1);
}

.navigation-main ul li {
    margin-left: 5px;
    margin-right: 5px;
}

.button,
.navigation-main ul li a {
    padding: 15px 20px;
    text-decoration: none;
    display: inline-block;
    width: 100px;
    border-radius: 20px;
    border: 1px solid rgba(250, 250, 250, 1);
}

.button.button-large {
    padding: 30px 0;
    margin: 20px 0;
    width: 100%;
    font-size: 1.4em;
    text-align: center;
    color: white;
    background: #FF5300;
    box-shadow: 2px 2px 4px #999;
    border: none;
}

.button.button-large:hover {
    background: #FF6D1A;
}

.button.button-large:active {
    margin: 22px 2px;
    box-shadow: none;
}

.accordion {
    background-color: rgba(250, 250, 250, 1);
    color: #3d3d3d;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: 10px 0;
    border-radius: 3px;
    font-size: large;
}

.accordion::after {
    content: "\25BC";
    float: right;
}

.accordion.active::after {
    content: "\25B2";
}

.accordion.active, .accordion:hover {
    background-color: #ddd;
}

.panel {
    padding: 0 20px;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: 0.6s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.panel.show {
    opacity: 1;
    padding: 10px 20px;
    max-height: 500px;
}

.dude-description {
    display: block;
    line-height: 1.5;
    font-size: small;
    margin-top: 5px;
}

.dude-name {
    line-height: 1.5;
    margin: 0;
    font-size: medium;
}

.dude-contact {
    line-height: 1.5;
    display: block;
    font-size: small;
}

@media (max-width: 600px) {
    .navigation-main ul li a {
        padding: 10px;
    }
    .navigation-main {
        padding: 5px 0;
    }

    .library-main {
        margin: 0;
        font-size: 12px;
        width: 100%;
    }
}

@media (max-width: 450px) {
    nav li {
        display: block;
        margin: 10px 0;
    }
    nav ul {
        margin: 0;
    }
    .navigation-main ul li a {
        width: 150px;
    }
}

.programme-today,
.programme-tomorrow {
    padding: 10px;
    box-sizing: border-box;
}

.chart-show {
    margin: 10px;
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    background-color: rgba(250, 250, 250, 1);
    color: rgba(51, 102, 153, 1);
}

.chart-show .chart-description {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-style: italic;
    padding-left: 2vw;
    padding-right: 2vw;
}

.chart-show .chart-description:hover {
    text-overflow: inherit !important;
    white-space: inherit !important;
    overflow: auto !important;
}

.datepicker input {
    margin-top: 1em;
    margin-right: 0.5em;
    margin-bottom: 1em;
    font-size: 1.17em;
    width: 100%;
    background-color: rgba(250, 250, 250, 1);
}

#chart-selector {
    margin: 10px;
}

#chart-selector button {
    text-decoration: none;
    padding: 10px;
    width: 5em;
    border: 1px solid rgba(250, 250, 250, 1);
    background-color: rgba(51, 102, 153, 1);
    color: rgba(250, 250, 250, 1);
}

@media (max-width: 600px) {
    .calendar-frame {
        display: none;
    }

    .mobile-only-calendar {
        display: inherit;
        padding: 40px;
        text-align: center;
    }

    .mobile-only-calendar a {
        color: #3d3d3d;
    }
}

@media (min-width: 600px) {
    .calendar-frame {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .mobile-only-calendar {
        display: none;
    }
}

.library-search {
    text-align: center;
}

.library-table {
    width: 100%
}

.library-th {
    text-align: left;
    padding: 15px;
    background-color: #dfdfdf;
    width: 33%;
}

.library-td {
    text-align: left;
    width: 33%;
    padding: 1em;
}

.library-tr {
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid #3d3d3d;
}

.library-search-input {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    border: 1px solid #3d3d3d;
    height: 3em;
    margin-top: 5px;
}

.checkbox-panel {
    margin: 5px;
}

.listen-row {
    margin-top: 10px;
    height: 32px;
    margin-bottom: 5vh;
}

.listen-row h3 {
    margin: 0;
    height: 32px;
    line-height: 32px;
}

@media (min-width: 800px) {
    #audio-div {
        text-align: center;
    }
}

@media (max-width: 800px) {
    #audio-div {
        text-align: center;
    }
    .listen-row h3 {
        text-align: center;
    }
}

.navigation-main a {
    margin-top: 5px;
}

#tg-link {
    color: #3d3d3d;
    text-align: center;
}

#now-playing {
    font-style: italic;
}
