<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Mainostajalle</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="static/autogrid.css">
    <link rel="stylesheet" href="static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet">
</head>
<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="header-container">
        <header class="wrapper clearfix">
        </header>
    </div>
    <nav class="navigation-main">
        <ul>
            <li><a href="index.html">Etusivulle</a></li>
            <li><a class="scroll-link" href="#meadi">Mediatietoa</a></li>
            <li><a class="scroll-link" href="#support">Paketit</a></li>
            <li><a class="scroll-link" href="#ads">Mainokset</a></li>
            <li><a class="scroll-link" href="#team">Yhteystiedot</a></li>
        </ul>
    </nav>
    <div class="main-container">
        <div class="auto-content section-main section-overview">
            <p>Radiodiodi on Otaniemestä ponnistava joka vuosi täysin opiskelijavetoisesti toteutettu kaupallinen wappuradio. Radio toteutetaan vuonna 2017 jo kuudetta kertaa ja lähetys on käynnissä 18.-30. huhtikuuta.</p>
            <p>Radiodiodi tuotetaan alusta loppuun opiskelijavoimin ja sen tekemiseen osallistuu joka vuosi kymmeniä vapaaehtoisia taustatyön muodossa ja ympärivuorokautista sisältöä taajuuksille on lähetyskauden aikana studiossa tuottamassa arviolta 200 opiskelijaa.</p>    
            <p>Radiodiodi on kaupallinen radiokanava, vaikkakin voittoa tavoittelematon. Yhteistyö yritysten kanssa on siis ensiarvoisen tärkeää toimintamme kannalta. Ilman sponsoreitamme Wapun ajan PK-seudun hauskin radiolähetys olisi mahdotonta toteuttaa.</p>
        </div>
        <section class="lightblue">
            <div id="media" class="auto-content section-main section-companies">
                <h2 class="section-title">Mediatietoa</h2>
                <div class="auto-col-12">
                    <ul>
                        <li> Keskeinen osa etenkin tekniikan alan opiskelijoiden Wappua!
                        </li><li> Kuuntelijakunta keskittyy Otaniemeen, mutta taajuudelle todistetusti virittäytyy muidenkin pääkaupunkiseudun oppilaitosten opiskelijoita sekä jo valmistuneita, pääasiassa diplomi-insinöörejä.
                        </li><li> Soi taukotiloissa ja ruokaloissa ympäri Otaniemeä.
                        </li><li> Nettistreamin kuuntelijamäärät ovat aikaisempina vuosina nousseet parhaimmillaan kolmeen sataan yhtäaikaiseen kuuntelijaan, FM-kuuntelijoista ei ole dataa.
                        </li><li> Radiodiodi on kovassa nosteessa: Vuoden 2016 aikana pelkästään Facebook-tykkäystemme määrä nousi yli 40%
                        </li><li>Vuonna 2017 lähetystä markkinoidaa entistä laajemmin myös Otaniemen ulkopuolella.
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <div id="support" class="auto-content section-main section-makers">
            <h2 class="section-title">Paketit</h2>
            <p>Yhteistyökumppanimme näkyvät ja kuuluvat wappuisessa Otaniemessä. Studiomme sijaitsee tapahtumien keskipisteessä Alvarin aukiolla. Lähetyksen kuulemiselta on vaikea välttyä.</p>
            <div class="auto-row">
                <div class="auto-col-6">
                    <h3>Yhteistyökumppani (600€)</h3>
                    <ul>
                        <li>Toiveiden mukainen tiedotusjulkaisu somekanavissamme</li>
                        <li>Logopaikka sivuillemme radiodiodi.fi</li>
                        <li>Radiomainos, 15 toistokertaa päivässä (Tuplatoistomäärä +200€)</li>
                    </ul>
                    <p>Mainossekunnin hinta MAX 22snt</p>
                </div>
                <div class="auto-col-6">
                    <h3>Pääyhteistyökumppani (1000€)</h3>
                    <ul>
                        <li>Samat kuin yhteistyökumppanilla, mutta mainoksen toistomärä 30 krt/päivä.</li>
                        <li>Mahdollisuus varata kahden tunnin ohjelma-aika wappuradiolähetyksestä ennen varsinaisia ohjelman tekijöitä. Tämä on loistava paikka päästä tiedottamaan vaikka auki olevasta rekrystä!</li>
                        <li>Mahdollisuus tuoda mainosmateriaaliaan (kynät, heijastimet yms.) jaettavaksi Radiodiodin konteille Alvarin aukiolle</li>
                        <li>Näkyy kaikissa Radiodiodin julkaisuissa, esimerkiksi julisteissa</li>
                    </ul>
                    <p>Mainossekunnin hinta MAX 18snt
                </div>
            </div>
            <p>Yhteistyömuodot ovat neuvoteltavissa ja korvaus voidaan hoitaa sekä rahallisesti, tavaralahjoituksena tai muuna tukena. Kysymykset ja ehdotukset kannattaakin suunnata osoitteeseen <a class="black" href="mailto:yrityssuhteet@radiodiodi.fi">yrityssuhteet@radiodiodi.fi</a></p>
        </div>
            <section class="lightblue">
                <div id="ads" class="auto-content section-main section-companies">
                    <h2 class="section-title">Mainokset</h2>
                    <p>Mainokset toimitamme ns. avaimet käteen -palveluna, jolloin valitsemanne teeman pohjalta suunnittelemme ja äänitämme yhden tai useamman mainosvariaation, joista voitte valita lähetykseen päätyvät. Mainokset ovat kestoltaan 15-30 sekunnin mittaisia ja varmasti positiivisia, sillä onhan Radiodiodin pääasiallinen tarkoitus nostattaa leppoisaa wappumieltä.  
                    <p>Koska hyvä mainos kertoo enemmän kuin tuhat sanaa, laitoimme alle kuuneltavaki muutamia aikaisemmin radiossa soineita mainoksia:</p>
                    <div class="auto-row">
                        <div class="auto-col-6">
                            <h4>SRV</h4>
                            <audio controls> 
                                <source src="static/audio/srv.mp3" type="audio/mpeg">
                                Valitettavasti selaimesi ei tue tätä audioelementtiä
                            </audio>
                            <h4>ABB</h4>
                            <audio controls> 
                                <source src="static/audio/abb.wav" type="audio/mpeg">
                                Valitettavasti selaimesi ei tue tätä audioelementtiä
                            </audio>
                        </div>
                        <div class="auto-col-6">
                            <h4>Olvi</h4>
                            <audio controls> 
                                <source src="static/audio/olvi.mp3" type="audio/mpeg">
                                Valitettavasti selaimesi ei tue tätä audioelementtiä
                            </audio>
                            <h4>TEK</h4>
                            <audio controls> 
                                <source src="static/audio/tek.mp3" type="audio/mpeg">
                                Valitettavasti selaimesi ei tue tätä audioelementtiä
                            </audio>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- <section class="lightblue"> -->     
    <div id="team" class="auto-content section-main section-team">
        <h2 class="section-title">Yhteystiedot</h2>
        <p>Alta löydät yrityssuhteista vastaavien henkilöiden tiedot. Koko tiimin tavoittaa mailitse osoitteella <a class="black" href="mailto:yrityssuhteet@radiodiodi.fi">yrityssuhteet@radiodiodi.fi</a></p>
        <div class="dude auto-col-4">
            <div class="image-border">
                <img src="static/Panu.jpg" alt="" class="dude-image" width=150px>
            </div>
            <span class="dude-description">Puheenjohtaja</span>
            <h5 class="dude-name">Panu Oksiala</h5>
            <span class="dude-contact">panu@radiodiodi.fi</span>
        </div>
        <div class="dude auto-col-4">
            <div class="image-border">
                <img src="static/Onni.jpg" alt="" class="dude-image" width=150px>
            </div>
            <span class="dude-description">Päätoimittaja</span>
            <h5 class="dude-name">Onni Lampi</h5>
            <span class="dude-contact">onni@radiodiodi.fi</span>
        </div>
        <div class="dude auto-col-4">
            <div class="image-border">
                <img src="static/A-J.jpg" alt="" class="dude-image" width=150px>
            </div>
            <span class="dude-description">Studiopäällikkö</span>
            <h5 class="dude-name">Antti-Juho Nieminen</h5>
            <span class="dude-contact">a-j@radiodiodi.fi</span>
        </div>

    </div>
    </div>
    </section>

    <div class="footer-container">
        <footer class="wrapper">
            <h3>Radiodiodi</h3>
            <p>Pääkaupunkiseudun pöhisevin wappumedia</p>
            <p>Yhteistyössä</p>
            <div class="partner-logo-container">
                <a href="https://www.abb.com/"><img class="partner-logo" id="abb-logo" src="static/abb_logo.png" alt="ABB logo"></a>
            </div>
            <div class="partner-logo-container">
                <a href="https://www.vincit.fi/"><img class="partner-logo" id="vincit-logo" src="static/vincit_logo.png" alt="Vincit logo"></a>
            </div>
            <div class="partner-logo-container">
                <a href="https://www.srv.fi/"><img class="partner-logo" id="srv-logo" src="static/srv_logo.png" alt="SRV logo"></a>
            </div>
            <div class="partner-logo-container">
                <a href="https://gofore.com/"><img class="partner-logo" id="gofore-logo" src="static/gofore_logo.png" alt="Gofore logo"></a>
            </div>
            <div class="partner-logo-container">
                <a href="http://www.genelec.fi/"><img class="partner-logo" src="static/Genelec_logo-w-slogan_RGB_white.png" alt="Genelec logo"></a>
            </div>
            <div class="partner-logo-container">
                <a href="http://tter.ayy.fi/"><img class="partner-logo" id="tter-logo" src="static/TTER_logo_RGB_transparent.png" alt="TTER logo"></a>
            </div>
            <p class="dude-contact">hallitus@radiodiodi.fi</p>
            <p>&copy; 2016</p>
        </footer>
    </div>

    <script src="static/main.js"></script>
    <script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-83690211-1', 'auto');
ga('send', 'pageview');
    </script>

</body>
</html>
